**/node_modules
**/dist
!packages/navis/src/dist
!packages/navis/src/dist/**
.git
.gitignore
**/.env
**/.env.*
!**/.env.example
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
.DS_Store
.vscode
.idea
.claude
README.md
**/Dockerfile
.dockerignore
